#footer {
    background-color:#F3F5FC;
    border-top: 2px solid darkblue;
    color: darkblue;
    width: 100%;
    clear: both;
    font-family:Raleway;
    font-weight:bolder;
    text-align: center;

}
#contInfo{
    width: 80%;
    height: 120px;
    margin: auto;
    padding: 10px;
}
#contInfo p{
    margin:0px;
    padding: 10px;
}
#infoApp {
    width: 48%;
    height: 100%;
    float:left;
}
#infoDev {
    width: 48%;
    height: 100%;
    float:right;
}
#derechos{
    text-align: center;
    width: 50%;
    height: 20px;
    margin: auto;
}
#derechos p{
    margin: 0px;
    padding: 0px;
}
#social{
    text-align:center;
    padding: 10px;
}
#social a{
    text-decoration: none;
    color: darkblue;
    font-size: 20px;
    transition: all 0.5s ease 0s;
    margin-left:5px;
}
#social a:hover{
    color:orangered;
}

@media screen and (max-width:1000px) {
    #footer p{
        font-size: 10px;
    }
    #contInfo{
        width: 90%;
        padding: 0px;
        padding-top: 10px;
    }
    #social a{
        font-size: 15px;
    }
   
}