/*
*{
    outline: red dashed 1px;
}*/
html, body{
    height: 100%;
}
body{
    background: linear-gradient(25deg, #ffffff 40%, transparent 41%, transparent 59%, #ffffff 60%) ,linear-gradient(90deg, transparent 45%, #4f46e4 45%, #4f46e4 55%, transparent 55%, transparent 20%, #4f46e4 20%, #4f46e4 30%,transparent 30%);
    background-size: 2em 2em;
    background-color: #ffffff;
    opacity: 1;  
}
main {
    flex: 1;
}
#textResulSec{
    display:flex;
    margin-bottom: 25px;
}
#EncriptadorDiv{
    width:65%;
    margin-left: 45px;
    margin-top: 50px;
    margin-bottom: 15px;
}
#botoneraModo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
#botoneraModo fieldset {
    text-align: center;
    width: 100%;
}

#botoneraModo legend{
    margin: 0 auto;
    padding:0px 10px 2px 10px ;
    width: fit-content;
    color:darkblue;
    font-family:Raleway;
    font-weight:bolder;
    font-size: 25px;
    background-color: white;
}
.btnModo{
    background-color: white;
    color:darkblue;
    font-family:Raleway;
    font-weight:normal;
    font-size: 25px;
    width: 25%;
    border:0px;

}
.btnModo:hover{
    cursor: pointer;
    color:orangered;
}
.selected{
    background-color: white;
    color:orangered;
    font-weight:bolder;
}

#divTextBoxIn{
    width: 65%;
}
#textBoxIn{
    resize:none;
    padding:0px;
    width:99%;
    height: 339px;
    background-color: white;
    border: 5px solid darkblue;
    border-radius: 10px ;
    color:darkblue;
    font-family:Raleway;
    font-weight:bolder;
    font-size: 25px;
}
#textBoxIn::placeholder{
    color:darkblue;
    opacity: 0.5;
    font-family:Raleway;
    font-weight:bolder;
    font-size: 25px;
}
#divRules{
    width: 100%;
    margin:15px 0px 15px 0px;
    color:orangered;
    font-family:Raleway;
    font-weight:bold;
    font-size: 20px;
}
#divBtnTextBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#secResul{
    width: 25%;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 15px;
}
#secResul legend {
    margin: 0 auto;
    width: 65%;
    padding:0px 10px 2px 10px ;
    width: fit-content;
    color:darkblue;
    font-family:Raleway;
    font-weight:bolder;
    font-size: 25px;
    background-color: white;
}
#divResul{
    margin: auto;
    margin-top: 22px;
    width: 80%;
    height: 400px;
    border: 5px solid darkblue;
    border-radius: 10px ;
}
.correctoTexto{
    color:darkblue;
    font-family:Raleway;
    font-weight:bolder;
    font-size: 20px;
}
.errorTexto{
    color:red;
    text-decoration: underline red solid;
    font-size: 25px;
    text-align: center;
    font-family: Raleway;
    font-weight:bolder;
}
.fondoImagen{
    background-image: url('img/fondoDivResul.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}
.fondoColor{
    background-color: white;
    white-space: normal; 
    /*overflow: hidden; /* Ocultar el contenido que excede */
    overflow: scroll;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#divBtnResul{
    width: 100%;
    margin:auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnCopiar{
    width:50% ;
}
.btnFunc{
    background-color: blue;
    color:white;
    font-family:Raleway;
    font-weight:normal;
    font-size: 25px;
    width: 200px;
    height: 50px;
    border:0px;
    border-radius: 15px;
}
.btnFunc:hover{
    background-color: orangered;
    cursor: pointer;
}
.hidden{
    display: none;
}
#divNotis{
    width: 25%;
    padding:20px;
    color:white;
    font-family:Raleway;
    font-weight:bold;
    font-size: 15px;
    background-color:orangered;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    position: fixed;
    top: 10px;
    right: 10px;
    
}
@media screen and (max-width:1000px) {
    #textResulSec{
        width: 100%;
        display:inline-block;
    }
    #EncriptadorDiv{
        width:90%;
        margin:auto;
        margin-top: 30px;
    }
    .btnModo{
        font-size: 20px;
    }
    
    #divTextBoxIn{
        width: 100%;
    }
    #textBoxIn{
        height: 250px;
    }
    #divRules{
        background-color: white;
    }
    #secResul{
        width: 90%;
        margin-top: 40px;
    }
    #divResul{
        margin-top: 20px;
        width: 900;
        height: 300px;
    }
    .fondoImagen{
        background-image: url('img/fondoDivResulResponsive.png');
        background-position-y: 0px;
        background-position-x: -55px;
    }
    #btnCopiar{
        width:40% ;
    }
    
}





