html{
    scroll-behavior:smooth;
}
#header{
    align-items: center;
    background-color:blue;
    border-bottom: 2px solid white;
    position: fixed;
    z-index:10;
    width: 100%;
    height: 50px;
}
#header h2{
    color:white;
    margin-left: 25px;
    font-size: 35px;
}

@media screen and (max-width:480px) {
    .navLinks li{
        padding: 0;
        margin-left: 0;
    }
}
