
.icon-sun-filled:before { content: '\e800'; } /* '' */
.icon-moon-inv:before { content: '\e801'; } /* '' */
.icon-linkedin-squared:before { content: '\e802'; } /* '' */
.icon-attention-circled:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
